body{
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#indexMain, #vragenMain{
	background-color: white;
	width:	800px;
	margin: 0 auto;
}
#terug{
	color: grey;
	font-size: 250%;
}
#overslaan{
	text-decoration: none;
	font-size: 150%;
	color: grey;
	font-weight: bold;
}
#stemwijzer{
	width: 500px;
}
#onderwerp{
	color: lightblue;
}